---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Mémorisation">
  <h1>Mémorisation</h1>
  <ul>
    <li><a href="/memorisation/revision-du-jour">Révision du jour</a></li>
    <li><a href="/memorisation/mega-quiz">Méga quiz</a></li>
    <li><a href="/memorisation/mega-flashcards">Méga flashcards</a></li>
  </ul>
</BaseLayout>